.row.form-group
  .col-md-4.col-md-offset-4
    .btn.btn-default.btn-block{"data-target" => "#sign-up-modal", "data-toggle" => "modal", :type => "button"}
      How do I sign up?
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        Sign Up
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!

          .row
            .col-md-6.form-group
              %label Name &ast;
              = f.text_field :name, placeholder: 'Pilot Name', class: 'form-control'
            .col-md-6.form-group
              %label Email
              = f.email_field :email, placeholder: 'pilot@email.com', class: 'form-control'
          .row.well
            %label.form-group
              = f.radio_button :tracker_type, 'in_reach_user', checked: true
              InReach Share URL
            %a{"data-toggle" => "modal", "data-target" => "#how-to-url-modal", style: 'color:#428bca;'}
              %i.fa.fa-info-circle
              How to find this?
            = f.text_field :in_reach_share_url, placeholder: 'https://share.garmin.com/Feed/Share/YOUR_INREACH_NAME_HERE', class: 'form-control radio-control'
            %hr
            %label.form-group
              = f.radio_button :tracker_type, 'spot_user'
              SPOT URL (XML Feed ID)
            %a{"data-toggle" => "modal", "data-target" => "#how-to-spot-modal", style: 'color:#428bca;'}
              %i.fa.fa-info-circle
              How to find this?

            = f.text_field :spot_share_url, class: 'form-control radio-control', placeholder: 'ex: XEJFEFUFEL23847'
          .row
            .col-md-6.form-group
              %label Password
              %em min length 6
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .col-md-6.form-group
              %label Confirm Password
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group
            .row
              .col-md-6
                = f.submit "Sign up", class: 'btn btn-success'
        = render "devise/shared/links"


#how-to-url-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = image_tag "howto.gif", style: 'width:100%;'
        %hr
        %p
          Everyone's Share Url is slightly different. Yours will follow the pattern of either:
        .text-center
          %strong
            https://us0.inreach.garmin.com/feed/share/YOUR SHARE NAME
          %br
          OR
          %br
          %strong
            https://share.garmin.com/Feed/Share/YOUR SHARE NAME
        %br
        %p
          Find yours at
          = link_to "https://explore.garmin.com/Social","https://explore.garmin.com/Social", target: "_blank", style: 'color: #428bca;'
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} OK

#how-to-spot-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = image_tag "spot.png", style: 'width:100%;'
        %hr
        %p
          %strong Step 1
          %br
          Log into your SPOT account and click on XML Feed
        %p
          %strong Step 2
          %br
          click on View Details
        %p
          %strong Step 3
          %br
          Copy what is inside the box of Your XML Feed ID
        %p
          %strong Step 4
          %br
          Make sure you have it set to "Active" and then make sure you have it "Public"

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} OK

#sign-up-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/t37tG_4_kdI", :width => "100%"}
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} OK

:javascript
  $(function(){
    $('input.radio-control').focus(function(){
      $('.radio-control').not(this).val('')
    })
  })
