- if @group.errors.any?
  #error_expl.panel.panel-danger
    .panel-heading
      %h3.panel-title
        = pluralize(@group.errors.count, "error")
        prohibited this group from being saved:
    .panel-body
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
.row
  .col-md-6
    .form-group
      %label Name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.submit nil, :class => 'btn btn-primary'
  .col-md-6
    %h1
    .well
      %ul.list-group
        %li.list-group-item
          = text_field_tag '[user_name]', nil, placeholder: "Search", class: 'form-control user-search'
          #search-results.hidden
            .well.well-sm.well-default
          = f.collection_check_boxes :user_grouping_ids, @group.user_groupings.all, :id, :group_id do |b|
            %li.list-group-item
              = b.check_box(checked: "checked")
              = b.object.user.name





:javascript
  $(function(){
    $('.user-search').keyup(function(){
      value = $(this).val();
      if (value.length > 3){
        $.ajax({
          method: 'PUT',
          url: '/user_search',
          data: {name: value, group_id: #{@group.id}},
        })
      }
    });
  })

