.page-header
  %h1
    My Groups
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Member Count
      %th Created At
      - if current_user.admin?
        %th extra buttons
  %tbody
    - @user_groups.each do |group|
      %tr
        %td= link_to group.id, group_path(group)
        %td= group.name
        %td= group.users.count
        %td= l group.created_at
        %td
          = link_to 'Edit', edit_group_path(group), class: 'btn btn-default btn-xs'
          - if current_user.admin?
            = link_to 'Delete', group_path(group), class: 'btn btn-danger btn-xs',  :method => :delete,:data => { :confirm => 'sup?'}
.page-header
  %h1
    All Groups
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Member Count
      %th Created At
      - if current_user.admin?
        %th extra buttons
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.id, group_path(group)
        %td= group.name
        %td= group.users.count
        %td= l group.created_at
        %td
          = link_to 'Edit', edit_group_path(group), class: 'btn btn-default btn-xs'
          - if current_user.admin?
            = link_to 'Delete', group_path(group), class: 'btn btn-danger btn-xs',  :method => :delete,:data => { :confirm => 'sup?'}

= link_to t('.new', :default => t("helpers.links.new")), new_group_path, :class => 'btn btn-primary'
