= form_for @user, :html => { :class => "user" } do |f|
  - if @user.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
      .panel-body
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-md-6
      .form-group
        %label Name
        = f.text_field :name, class: 'form-control'
      .form-group
        %label Email
        = f.text_field :email, class: 'form-control'

      .bg-info{style: 'padding: 5px 10px;border-radius: 4px'}
        %label
          = f.check_box :tracking_enabled
          Tracking enabled
        %br
        .small.text-muted
          If you uncheck this box, xctrack will not attempt to fetch data from your tracker. You can use this feature if you are going on vacation, using your tracker for non-flying purposes, or do not want to share your tracking with the public.

    .col-md-6.well
      .row
        .col-md-6
          .form-group
            %label
              = f.radio_button :tracker_type, 'in_reach_user', checked: true
              InReach Share URL
              = f.text_field :in_reach_share_url, placeholder: 'https://share.garmin.com/Feed/Share/YOUR_URL_HERE', class: 'form-control radio-control'
            %hr
            %label
              = f.radio_button :tracker_type, 'spot_user'
              SPOT URL
              .form-inline{style: 'margin-top:10px;'}
                %span.hidden-xs
                  XML Feed ID
                %span.visible-xs{style: 'font-size: 10px;'}
                  XML Feed ID

                = f.text_field :spot_share_url, class: 'form-control radio-control'
        .col-md-6
          %label
            Lookback Duration
          = f.select :lookback_duration, options_for_select(['12', '24', '48'], @user.lookback_duration), {}, class: 'form-control'
          %small
            How many hours should the system remember your waypoints? (Most people use 12 hours)
  .form-group
    .row
      .col-lg-10
        = f.submit nil, :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")),
          users_path, :class => 'btn btn-default'



