= form_for @user, :html => { :class => "user" } do |f|
  - if @user.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
      .panel-body
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-md-6
      .form-group
        %label Name
        = f.text_field :name, class: 'form-control'
      .form-group
        %label Email
        = f.text_field :email, class: 'form-control'
    .col-md-6
      .form-group.well
        %label
          = f.radio_button :tracker_type, 'in_reach_user', checked: true
          InReach Share URL
          .form-inline{style: 'margin-top:10px;'}
            %span.hidden-xs
              http://www.share.delorme.com/
            %span.visible-xs{style: 'font-size: 10px;'}
              http://www.share.delorme.com/
            = f.text_field :in_reach_share_url, class: 'form-control radio-control'
        %hr
        %label
          = f.radio_button :tracker_type, 'spot_user'
          SPOT URL
          .form-inline{style: 'margin-top:10px;'}
            %span.hidden-xs
              http://share.findmespot.com/shared/faces/viewspots.jsp?glId=
            %span.visible-xs{style: 'font-size: 10px;'}
              share.findmespot.com/shared/faces/viewspots.jsp?glId=

            = f.text_field :spot_share_url, class: 'form-control radio-control'

  .form-group
    .row
      .col-lg-10
        = f.submit nil, :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")),
          users_path, :class => 'btn btn-default'



