- path = @current_group_id.present? ? group_path(@current_group_id) : root_path

= form_tag path, method: :get do
  - @users.each do |user|
    - next unless user.most_recent_flight.present?
    - length = user.most_recent_flight.flight_length
    - straight_distance = user.most_recent_flight.straight_line_distance

    - if user.waypoints.order(:timestamp).last&.timestamp.present?
      - last_point = distance_of_time_in_words((user.waypoints.order(:timestamp).last&.timestamp || Time.now), Time.now)
    - else
      - last_point = "N/A"
    %li.list-group-item.pilot-on-map{data: {flight_length: length, name: user.name, straight_distance: straight_distance}}
      .row
        .col-xs-4.col-sm-4
          -if @rendered_user_ids.include?(user.id)
            %a.btn.btn-default.btn-success.btn-block.pilot-toggle-button.remove-pilot-btn{data: {pilot_id: user.id}}
              &#10003;
          -else
            %a.btn.btn-default.btn-default.btn-block.pilot-toggle-button.add-pilot-btn{data: {pilot_id: user.id}}
              &#43;

        .col-xs-8.col-sm-8
          .text-center
            = link_to user_path(user) do
              = user.name
              %br
              %small
                = last_point
                ago
                &#8226;
                &Delta;
                = length
                km
                &#8226
                |
                = straight_distance
                km

  = hidden_field_tag 'pilots', @rendered_user_ids.join(',')
  = submit_tag 'Update Map', name: nil, class: 'hidden'



- if @users.empty?
  %li.list-group-item
    Hmm, it must be unflyable today :(

= link_to 'FREE FLIGHT LAB', 'http://www.freeflightlab.org', target:'_blank', class: 'ffl-logo'