-@users.each do |user|
  %li.list-group-item
    .row
      .col-xs-4.col-sm-5
        -if @rendered_user_ids.include?(user.id)
          =# remove_user_from_map_link @rendered_user_ids, user, @current_group_id, class: ' btn btn-success btn-block btn-loading' do
          = link_to "#" do
            %i.fa.fa-check
        -else
          = add_user_to_map @rendered_user_ids, user, @current_group_id, class: ' btn btn-default btn-block btn-loading' do
            +
      .hidden-xs
        .col-xs-8.col-sm-7
          .text-center
            = link_to user_path(user) do
              = user.name
              %br
              %small
                = user.most_recent_flight.created_at.strftime('%Y-%m-%d %H:%mZ')

      .visible-xs
        .col-xs-8.col-sm-7
          .text-center.btn
            = link_to user_path(user) do
              = user.name
              %br
              %small
                = user.most_recent_flight.created_at.strftime('%Y-%m-%d %H:%mZ')
