-@users.each do |user|
  - length = user.most_recent_flight.flight_length
  %li.list-group-item.pilot-on-map{data: {flight_length: length, name: user.name}}
    .row
      .col-xs-4.col-sm-4
        -if @rendered_user_ids.include?(user.id)
          = remove_user_from_map_link @rendered_user_ids, user, @current_group_id, class: 'btn btn-success btn-block btn-loading' do
            &#10003;
            %i.fa.fa-refresh.fa-spin{style:'position:absolute;opacity: 0;'}

        -else
          = add_user_to_map @rendered_user_ids, user, @current_group_id, class: 'btn btn-default btn-block btn-loading' do
            &#43;
            %i.fa.fa-refresh.fa-spin{style:'position:absolute;opacity: 0;'}

      .col-xs-8.col-sm-8
        .text-center
          = link_to user_path(user) do
            = user.name
            %br
            %small
              = user.waypoints.last.timestamp
              &#8226;
              = length
              km



- if @users.empty?
  %li.list-group-item
    Hmm, it must be unflyable today :(
