<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="<%= title_helper %>" />
    <title><%= title_helper %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse <%= 'no-margin-vertical' if %w(home groups).include?(params[:controller]) %>" style="border-radius: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">XcTrack.me</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <%- if user_signed_in? %>
              <%= render partial: 'shared/pilot_container_toggle' %>
              <li class="visible-xs"><%= link_to "My Profile", user_path(current_user) %></li>
              <li class="visible-xs"><%= link_to "My Groups", groups_path %></li>
              <li role="separator" class="divider visible-xs"></li>
              <li class="visible-xs"><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>

              <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Profile", user_path(current_user) %></li>
                  <li><%= link_to "My Groups", groups_path %></li>
                  <li><a href="mailto:aneigher@gmail.com">Contact Me</a></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>

                </ul>
              </li>
            <% else %>
              <%= render partial: 'shared/pilot_container_toggle' %>
              <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
              <li><%= link_to('Login', new_user_session_path)  %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
  </body>
  <%= render partial: 'shared/google_analytics' %>
</html>
